{% extends "site_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}

{% block head_title %}{% trans "Your Moon Map submission" %}{% endblock %}

{% block extra_head %}
	{{ block.super }}
	<script type="text/javascript" src="{{ STATIC_URL }}js/d3/d3.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/d3/d3.geom.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/d3/d3.layout.js"></script>
	<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}js/d3/force.css"/>
{% endblock %}

{% block body %}

<div class="span3 pull-left"> <!-- maybe switch to sidebar ? -->
    <div id="well" class="well">&nbsp;</div>
</div>
<div class="content">

    <div class="row">
        <div class="span10">
            <div id="chart"></div>
        </div>
        <div class="span3">
            <iframe style="width: 440px; height: 400px; border: 0px" id="viewport" src="">Nothing</iframe>
        </div>
    </div>

    <script>
	    var ENTRY_ID = {{ network_graph.id }};
    </script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/d3/mikedewar.js"></script>
</div>
{% endblock %}
