{% extends "site_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}

{% block head_title %}{% trans "Your Moon Map submission" %}{% endblock %}

{% block body %}

	<form id="cal_submit" method="GET" action="#">
		<fieldset>
		<legend>Enter your network starting point</legend>
			<label for="doi">Enter your doi:</label>
			<input type="text" id="doi" name="doi" size="20" />
			<input type="hidden" id="code" name="code" value={{user_key}} />
		</fieldset>

		<input type="submit" id="submit-" />
	</form>

<script>
$('form').submit(function(){
  $.ajax({
    type: "POST",
    url: "http://{{ url }}:8880/form",
    data: $('form').serialize(),
    dataType: "json",
    success: function(data) {
      		var entry_url = "/networkgraphs/detail/";
		console.log(data['entry_id'],data)
		window.location = entry_url+data['id'];
	}
  });
  return false;
});
</script>

{% endblock %}
