{% extends "site_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}

{% block head_title %}{% trans "Your Moon Map submission" %}{% endblock %}

{% block body %}

<div id="content-main">

{% for network_graph in network_graphs.object_list %}
<a href="{% url 'drmoon.networkgraph_views.details' network_graph.id  %}">{{ network_graph.unique_id|upper }}</a><br />
{% endfor %}

<p class="paginator">
    <span class="step-links">
        {% if network_graphs.has_previous %}
            <a href="?page={{ network_graphs.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ network_graphs.number }} of {{ network_graphs.paginator.num_pages }}.
        </span>

        {% if network_graphs.has_next %}
            <a href="?page={{ network_graphs.next_page_number }}">next</a>
        {% endif %}
    </span>
</p>

</div>
{% endblock %}
