{% extends "site_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}

{% block head_title %}{% trans "Your Moon Map submission" %}{% endblock %}

{% block body %}

<div><a class="btn" href="{% url networkgraphs_form %}">{% trans "Click here to create a new Moon Map" %}</a></div>

<div id="content-main">
<p style="margin-top: 2em;">
{% for network_graph in network_graphs.object_list %}
<div style="font-size: larger !important; margin-top: 0.5em;">
<a href="{% url networkgraphs_detail network_graph.id  %}">{{ network_graph.unique_id|lower }}</a>&nbsp;
<a href="http://dx.doi.org/{{ network_graph.unique_id|lower }}" title="{% trans "Click to view original paper" %}"><i class="icon-asterisk">*</i></a>
</div>
{% endfor %}
</p>

{% if needs_pagination %}
<p class="paginator">
    <span class="step-links">
        {% if network_graphs.has_previous %}
            <a href="?page={{ network_graphs.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ network_graphs.number }} of {{ network_graphs.paginator.num_pages }}.
        </span>

        {% if network_graphs.has_next %}
            <a href="?page={{ network_graphs.next_page_number }}">next</a>
        {% endif %}
    </span>
</p>
{% endif %}

</div>
{% endblock %}
